body {
  background-color: #fff;

  #chat_wrapper {
    height: 800px;
    width: 360px;
    background: #e8e6e6;
    border: 1px solid #bfbfbf;
    font-family: "Roboto", sans-serif;

    #inner_chat_wrapper {
      height: 85%;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      overflow-x: hidden;

      .message {
        padding: 7px;
        display: flex;
        flex-direction: column;

        &.incoming {
          justify-content: flex-start;
          align-items: flex-start;

          .sender_message {
            background: #cccaca;
          }
        }

        &.outgoing {
          justify-content: flex-end;
          align-items: flex-end;

          .sender_message {
            background: #96ccf5;
          }
        }

        .sender_name {
          font-size: 14px;
          color: #7b7b7b;
          font-weight: 300;
          line-height: 0;
          margin-bottom: 0;
        }

        .sender_message {
          border-radius: 2%;
          padding: 17px;
          border-radius: 15px;
          max-width: 70%;
        }
      }
    }

    #write_message_wrapper {
      height: 13%;
      border-top: 1px solid #bfbfbf;
      display: flex;
      flex-direction: row;
      padding: 6px;
      #write_message {
        flex-grow: 1;
        resize: none;
      }
    }
  }
}
